@using NulahCore.Models;
@{
    RedisStatus stats = (RedisStatus)ViewData["RedisStats"];
}
<div class="module">
    <div class="module-content">
        <div class="title">Redis Server</div>
        <div class="body">
            <table>
                <tr>
                    <td>Uptime</td>
                    <td>@(stats.UptimeInSeconds)s</td>
                </tr>
                <tr>
                    <td>UptimeInSeconds</td>
                    <td>@(stats.UptimeInSeconds)s</td>
                </tr>
                <tr>
                    <td>UsedMemory</td>
                    <td>@(stats.UsedMemory)</td>
                </tr>
                <tr>
                    <td>UsedMemoryRss</td>
                    <td>@(stats.UsedMemoryRss)</td>
                </tr>
                <tr>
                    <td>UsedMemoryPeak</td>
                    <td>@(stats.UsedMemoryPeak)</td>
                </tr>
                <tr>
                    <td>TotalSystemMemory</td>
                    <td>@(stats.TotalSystemMemory)</td>
                </tr>
                <tr>
                    <td>TotalConnectionsReceived</td>
                    <td>@(stats.TotalConnectionsReceived)</td>
                </tr>
                <tr>
                    <td>TotalCommandsProcessed</td>
                    <td>@(stats.TotalCommandsProcessed)</td>
                </tr>
                <tr>
                    <td>ExpiredKeys</td>
                    <td>@(stats.ExpiredKeys)</td>
                </tr>
                <tr>
                    <td>KeyspaceHits</td>
                    <td>@(stats.KeyspaceHits)</td>
                </tr>
                <tr>
                    <td>KeyspaceMisses</td>
                    <td>@(stats.KeyspaceMisses)</td>
                </tr>
                <tr>
                    <td>UsedCpuSys</td>
                    <td>@(stats.UsedCpuSys)s</td>
                </tr>
                <tr>
                    <td>UsedCpuUser</td>
                    <td>@(stats.UsedCpuUser)s</td>
                </tr>
                <tr>
                    <td>UsedCpuSysChildren</td>
                    <td>@(stats.UsedCpuSysChildren)s</td>
                </tr>
                <tr>
                    <td>UsedCpuUserChildren</td>
                    <td>@(stats.UsedCpuUserChildren)s</td>
                </tr>
                <tr>
                    <td>Updated</td>
                    <td>@(stats.Updated)</td>
                </tr>
                <tr>
                    <td>NulahStatusVersion</td>
                    <td>@(stats.NulahStatusVersion)</td>
                </tr>
            </table>
        </div>
    </div>
</div>